<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kwondev.ch01.mybatis.BoardMapper">
  <select id="getSelectAll" resultType="BoardDto">
    select * from BOARD_CLEANER ORDER BY POSTNO 
  </select>
  <select id="getTotalPost" resultType="Integer">
	  SELECT COUNT(*) AS TOTAL FROM BOARD_CLEANER
  </select>
	<select id="getBoardPage" resultType="BoardDto" 
	parameterType="HashMap">
		SELECT * FROM
		    (SELECT ROWNUM AS NUM,B.* FROM
		        (SELECT * FROM BOARD_CLEANER ORDER BY POSTNO DESC) B
		    ) WHERE NUM <![CDATA[>=]]> #{start} AND NUM <![CDATA[<=]]> #{end}
	</select>
  <select id="getSelectOne" parameterType="Integer" resultType="BoardDto">
	  select * from BOARD_CLEANER WHERE POSTNO = #{postNO}
  </select>
  <select id="checkPW" parameterType="Integer" resultType="String">
	  SELECT postPW FROM BOARD_CLEANER WHERE postNO = #{postNo};
  </select>
  <!-- insert, delete, update는 result값이 없다 -->
  <insert id="insertBoard" parameterType="BoardDto">
	  INSERT INTO BOARD_CLEANER VALUES(BOARD_CLEANER_SEQ.NEXTVAL,#{postAuth},#{postPW},#{postCTGR},#{postTitle},#{postCont},SYSDATE,0)
  </insert>
  <delete id="deletePost" parameterType="Integer">
	  DELETE FROM BOARD_CLEANER WHERE POSTNO = #{postNo}
  </delete>
  <update id="updateHits" parameterType="Integer">
	  UPDATE BOARD_CLEANER SET POSTHITS=POSTHITS+1 WHERE POSTNO = #{postNo}
  </update>
  <update id="updatePost" parameterType="BoardDto">
	  UPDATE BOARD_CLEANER SET postCTGR = #{postCTGR}, postTitle = #{postTitle}, postCont = #{postCont} WHERE postNO = #{postNo} 
  </update>
</mapper>