<!DOCTYPE html>
<html lang="kor" xmlns:th="ww.thymeleaf.org">
<head th:replace="/include/include.html :: head(~{::link})">
    <link rel="stylesheet" href="">
</head>
<body>
    <header th:replace="/include/include.html :: header"></header>
    <main class="main">
        <!-- <section th:replace="/include/include.html :: sub-header"></section> -->
        <section class="intro__title">
            <div class="container">
                <h1>우리는 CLEANERS입니다!!</h1>
            </div>
        </section>
        <section class="intro__contents">
            <div class="container">
                <span>클리너들에 대한 설명</span>
                <span>클리너들의 활동사진</span>
            </div>
        </section>
    </main>
    <footer th:replace="include/include.html :: footer"></footer>
</body>
</html>