<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{include/layout}">

<!-- 개별 요소 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/board.css" >
</th:block>
<th:block layout:fragment="script">
    <!--  script  -->
</th:block>

<!-- Content -->
<th:block layout:fragment="content">
  <main class="main">
    <!-- <section th:replace="/include/include.html :: sub-header"></section> -->
    <section class="greenflu__title">
      <div class="container">
        <h1>우리는 CLEANERS입니다!!</h1>
      </div>
    </section>
    <section class="greenflu__contents">
      <div class="container">
        <span>클리너들에 대한 설명</span>
        <span>클리너들의 활동사진</span>
      </div>
    </section>
  </main>
  <footer th:replace="include/include.html :: footer"></footer>
</body>
</th:block>
</html>
