<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{include/layout}">

<!-- 개별 요소 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/static.css" >
</th:block>
<th:block layout:fragment="script">
    <!--  script  -->
</th:block>

<!-- Content -->
<th:block layout:fragment="content">
  <main class="main">
    <!-- <section th:replace="/include/include.html :: sub-header"></section> -->
    <section class="ideology__intro-title">
      <div class="container">
        <h1 class="ideology__intro-title-txt title">CLEANERS활동 이념</h1>
        <img src="/images/working-cleaners-3.jpg" alt="오염물질을 소각하는 클리너들">
      </div>
    </section>
    <section class="ideology__contents">
      <div class="container">
        <span>클리너들에 대한 설명</span>
        <span>클리너들의 활동사진</span>
      </div>
    </section>
  </main>
</body>
</th:block>
</html>
