.container {
  display: block;
  width: 1200px;
  margin: 0px auto;
}

.center {
  margin: 0px auto;
}

.board__list {
  width: 1200px;
  height: auto;
  margin: 100px auto 0px;
}
.board__list span {
  display: inline-block;
}
.board__list-item {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 15px;
  height: 40px;
  border-bottom: 1px solid #ccc;
}
.board__list-item-postNo {
  width: 30px;
}
.board__list-item-postTitle {
  text-overflow: ellipsis;
  flex: auto;
  text-align: left;
}
.board__list-item-postAuth {
  width: 140px;
}
.board__list-item-postDate {
  width: 100px;
  margin-left: auto;
}
.board__list-btns {
  margin-top: 1rem;
}
.board__list-page {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
}
.board__list-page__num {
  text-align: center;
  width: 20px;
  margin: 5px;
}
.post {
  text-align: left;
}

.btn {
  display: inline-block;
  padding: 1em 1.6em;
  border-radius: 3px;
  height: 3.5em;
  margin-top: 2rem;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: all 250ms ease;
}
.btn:hover {
  color: white;
}
.btn:hover:after {
  animation-name: bgin;
  transform: skew(-45deg) translate(-50%);
}
.btn:after {
  content: "";
  z-index: -1;
  width: 150%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  animation-name: bgout;
  animation-duration: 400ms;
  transform: skew(-45deg) translate(-150%);
}
.btn--orange {
  border: 2px solid #f28e0a;
  color: #f28e0a;
}
.btn--orange:after {
  background-color: #f28e0a;
}

@keyframes bgin {
  from {
    transform: skew(-45deg) translate(-150%);
  }
  to {
    transform: skew(-45deg) translate(-50%);
  }
}
@keyframes bgout {
  from {
    transform: skew(-45deg) translate(-50%);
  }
  to {
    transform: skew(-45deg) translate(50%);
  }
}