<!DOCTYPE html>
<html lang="ko" xmlns="http://www.thymeleaf.org">
<head th:replace="/include/include :: head">
</head>
<body>
    <header th:replace="/include/include :: header"></header>
    <main class="main">
        <section class="board__list">
            <div class="container">
                <div class="board__list-title">
                    <h2 class="mt-5 mb-3">게시판</h2>
                </div>
                <div class="board__content mt-5">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">제목</th>
                                <th scope="col">글쓴이</th>
                                <th scope="col">작성일자</th>
                                <th scope="col">조회수</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:Each="item : ${boardList}">
                                <th scope="col" th:text="${item.postNo}">000003</th>
                                <td scope="col"><a th:href="@{/board/view(postNo=${item.postNo})}" th:text="${item.postTitle}">테스트용 제목</a></td>
                                <td scope="col" th:text="${item.postAuth}">글쓴이</td>
                                <td scope="col" th:text="${item.regDate}">2023-03-23</td>
                                <td scope="col" th:text="${item.postHits}">1</td>
                            </tr>
                            <tr>
                                <th scope="col">000001</th>
                                <td scope="col">테스트용 제목</td>
                                <td scope="col">글쓴이</td>
                                <td scope="col">2023-03-23</td>
                                <td scope="col">12</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="btns">
                    <ul class="board__list-page">
                        <span th:text="${pageInfo}"></span>
                        <li class="btn btn_pre"><a class="btn ${pageInfo.page == 1 ? 'off' : '' }" th:href="@{/board/list?page=1}">처음 페이지</a></li>
                        <li class="btn btn_pre"><a class="btn ${pageInfo.pagePre == 0 ? 'off' : '' }" th:href="@{/board/list(page=${pageInfo.pagePre})}">이전 열 페이지</a></li>
                        <li th:each="page: ${#numbers.sequence(pageInfo.pageStart,pageInfo.pageEnd)}" 
                            class="board__list-page__num ${pageInfo.page==page ? 'active' : ''}">
                            <a th:href="@{/board/list(page=${page})}" th:text="${page}">페이지 번호</a>
                        </li>
                        <!-- <span th:each="page: ${#numbers.sequence(pageInfo.pageStart,pageInfo.pageEnd)}" th:text="${page}">Ah.</span> -->
                        <span th:text="${param.category}"></span>
                        <span th:text="${param.searchTxt}"></span>
                        <li class="btn btn_nxt"><a class="btn ${pageInfo.pageNxt == 0 ? 'off' : '' } href="href="./list?page=${pageInfo.pageNxt}">다음 열 페이지</a></li>
                        <li class="btn btn_nxt"><a class="btn ${pageInfo.page == pageInfo.pageEnd ? 'off' : '' } href="href="./list?page=${pageInfo.pageEnd}">마지막 페이지</a></li>
                    </ul>
                </div>
                <div class="board__search-post text-center">
                    <form class="moard__search-post--form mt-5" action="/board/list" method="get">
                        <select class="search-post--select" aria-label="Default select example" name="category">
                          <option value="all" >전체</option>
                          <option value="title" >제목</option>
                          <option value="content" th:selected="${param.category} eq 'content'">내용</option>
                          <option value="auth" th:selected="${param.category}=='auth'">글쓴이</option>
                        </select>
                        <input class="search-post__input" type="text" placeholder="검색어를 입력 해 주세요." aria-label="default input example" name="searchTxt" th:value="${param.searchTxt}">
                        <button class="btn btn-primary btn-search">SEARCH</button>
                      </form>
                </div>
                <div class="board__btns mt-5 text-center">
                    <button type="submit" class="btn btn-confurm btn-primary btn-lg"><a href="/board/write">글쓰기</a></button>
                    <button type="reset" class="btn btn-return btn-secondary btn-lg">돌아가기</button>
                </div>
            </div>
        </section>
    </main>
<footer th:replace="/include/include :: footer"></footer>
</body>
<script>
    $(".btn-search").on("click",()=>{
        if($(".search-post__input").val() == ""){

            alert("검색어를 입력 해 주세요.");
            return false;
        }
    })
</script>
</html>