<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{include/layout}">

<!-- 개별 요소 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/board.css" >
</th:block>
<th:block layout:fragment="script">
    <!--  script  -->
</th:block>

<!-- Content -->
<th:block layout:fragment="content">
    <main class="main">
        <h1>멤버 리스트!!!</h1>
        <ul>
            <li th:each="item : ${memberList}">
                <p th:text="${item.userID}">아이디</p>
                <p th:text="${item.userPW}">패스워드</p>
                <p th:text="${item.userNM}">이름</p>
                <p th:text="${item.userEM}">이메일</p>
            </li>
        </ul>
    </main>
</th:block>
</html>