<!DOCTYPE html>
<html lang="kor" xmlns:th="ww.thymeleaf.org">
  <head th:replace="/include/include.html :: head"></head>
  <body>
    <header th:replace="/include/include.html :: header"></header>
    <main class="main">
      <!-- <section th:replace="/include/include.html :: sub-header"></section> -->
      <section class="login__title">
        <div class="container">
          <h1>환영합니다 형제님!!</h1>
        </div>
      </section>
      <section class="login__contents">
        <div class="container">
          <div class="login__input">
            <div class="login__item">
              <span class="login__subtxt">아이디</span
              ><input type="text" name="" userID />
            </div>
            <div class="login__item">
              <span class="login__subtxt">패스워드</span
              ><input type="password" name="" userPW />
            </div>
          </div>
          <div class="lgin__btns"></div>
          <span>회원가입</span>
          <span>아이디/비밀번호 찾기</span>
        </div>
      </section>
    </main>
    <footer th:replace="include/include.html :: footer"></footer>
  </body>
</html>
