<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
    <typeAlias type="com.kwondev.replysearch.dto.BoardDto" alias="BoardDto" />
    <typeAlias type="com.kwondev.replysearch.dto.ReplysDto" alias="ReplysDto" />
    <typeAlias type="com.kwondev.replysearch.dto.PageDto" alias="PageDto" />
    <typeAlias type="com.kwondev.replysearch.dto.MemberDto" alias="MemberDto" />
  </typeAliases>
</configuration>
