<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="/include/include :: head"></head>
<body>
    <header th:replace="/include/include :: header"></header>
    <main class="main">
        <section class="board__view">
            <div class="container">
                <div class="board__view-title">
                    <h2 class="mt-5 mb-3">글 쓰기</h2>
                </div>
                <div class="board__content mt-5">
                    <div class="mb-3">
                        <label for="" class="form-label">제목</label>
                        <span th:text="${boardDto.postTitle}">제목</span>
                      </div>
                    <div class="mb-3">
                        <label for="" class="form-label">작성자</label>
                        <span th:text="${boardDto.postAuth}">작성자</span>
                      </div>
                      <div class="mb-3">
                        <label for="" class="form-label">내용</label>
                        <span th:text="${boardDto.postCont}">내용</span>
                      </div>
                </div>
                <div class="board__btns mt-5 text-center">
                    <button type="submit" class="btn btn-modify btn-primary btn-lg">수정</button>
                    <button type="" class="btn btn-delete btn-secondary btn-lg">삭제</button>
                    <button type="" class="btn btn-return btn-secondary btn-lg">게시판으로</button>
                </div>
                <div class="board__reply">
                    <div class="mb-3 reply-container" id="reply-container" th:if="${replys} != null">
                        <!-- <span th:text="${replys}"></span> -->
                        <div th:Each="item : ${replys}">
                            <span th:text="${item.replyCont}">덧글 내용</span>
                            <span th:text="${item.replyAuth}">덧글 작성자</span>
                            <span th:text="${item.replyDate}">2023-03-23</span>
                            <button class="btn-reply-delete">삭제</button>
                        </div>
                    </div>
                    <div class="mb-3">
                        <input type="hidden" class="postNo" name="postNo" th:value="${boardDto.postNo}">
                        <input type="text" class="replyCont" name="replyCont">
                        <button class="btn-reply">덧글달기</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer th:replace="/include/include :: footer"></footer>
</body>
<script>
    $(".btn-reply").on("click",()=>{
        var data = {};
        data["postNo"] = $(".postNo").val();
        data["replyCont"] = $(".replyCont").val();
        data["replyAuth"] = "테스트";
        data["replyPW"] = "테스트";
        $.ajax({
            url:"/board/writeReply",
            type:"POST",
            data:data,
            success:function(response){
                console.log(response);
                    alert("댓글이 등록되었습니다.");
            },
        })
        .done(function( fragment ){
            $("#reply-container").replaceWith(fragment);
        });
    })

</script>
</html>